In [1]:
#!pip install findspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [2]:
#!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317130 sha256=7cb623265adba1ed53f94f28bc8769a5d94eec9fa1e8132f2c92853e77a63ffe
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

In [3]:
from pyspark.sql import SparkSession
import findspark as fs
fs.init()

In [4]:
spark = SparkSession.builder.getOrCreate()

In [5]:
#from google.colab import drive
#drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
df = spark.read.format("csv")\
    .option("sep",",")\
        .option("inferSchema","true")\
            .option("header","true")\
                .load("/content/drive/MyDrive/content/weatherAUS.csv") #Cambiar la ruta

In [7]:
df.printSchema()

root
 |-- Date: date (nullable = true)
 |-- Location: string (nullable = true)
 |-- MinTemp: string (nullable = true)
 |-- MaxTemp: string (nullable = true)
 |-- Rainfall: string (nullable = true)
 |-- Evaporation: string (nullable = true)
 |-- Sunshine: string (nullable = true)
 |-- WindGustDir: string (nullable = true)
 |-- WindGustSpeed: string (nullable = true)
 |-- WindDir9am: string (nullable = true)
 |-- WindDir3pm: string (nullable = true)
 |-- WindSpeed9am: string (nullable = true)
 |-- WindSpeed3pm: string (nullable = true)
 |-- Humidity9am: string (nullable = true)
 |-- Humidity3pm: string (nullable = true)
 |-- Pressure9am: string (nullable = true)
 |-- Pressure3pm: string (nullable = true)
 |-- Cloud9am: string (nullable = true)
 |-- Cloud3pm: string (nullable = true)
 |-- Temp9am: string (nullable = true)
 |-- Temp3pm: string (nullable = true)
 |-- RainToday: string (nullable = true)
 |-- RainTomorrow: string (nullable = true)

> <h1>Tipando correctamente</h1>

In [8]:
df = df.withColumn("Date", df["Date"].cast("date"))
df = df.withColumn("MinTemp", df["MinTemp"].cast("float"))
df = df.withColumn("MaxTemp", df["MaxTemp"].cast("float"))
df = df.withColumn("Rainfall", df["Rainfall"].cast("float"))
df = df.withColumn("Evaporation", df["Evaporation"].cast("float"))
df = df.withColumn("Sunshine", df["Sunshine"].cast("float"))
df = df.withColumn("WindGustSpeed", df["WindGustSpeed"].cast("int"))
df = df.withColumn("WindSpeed9am", df["WindSpeed9am"].cast("int"))
df = df.withColumn("WindSpeed3pm", df["WindSpeed3pm"].cast("int"))
df = df.withColumn("Humidity9am", df["Humidity9am"].cast("int"))
df = df.withColumn("Humidity3pm", df["Humidity3pm"].cast("int"))
df = df.withColumn("Pressure9am", df["Pressure9am"].cast("float"))
df = df.withColumn("Pressure3pm", df["Pressure3pm"].cast("float"))
df = df.withColumn("Cloud9am", df["Cloud9am"].cast("int"))
df = df.withColumn("Cloud3pm", df["Cloud3pm"].cast("int"))
df = df.withColumn("Temp9am", df["Temp9am"].cast("float"))
df = df.withColumn("Temp3pm", df["Temp3pm"].cast("float"))
df.show()

+----------+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+------------+
|      Date|Location|MinTemp|MaxTemp|Rainfall|Evaporation|Sunshine|WindGustDir|WindGustSpeed|WindDir9am|WindDir3pm|WindSpeed9am|WindSpeed3pm|Humidity9am|Humidity3pm|Pressure9am|Pressure3pm|Cloud9am|Cloud3pm|Temp9am|Temp3pm|RainToday|RainTomorrow|
+----------+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+------------+
|2008-12-01|  Albury|   13.4|   22.9|     0.6|       null|    null|          W|           44|         W|       WNW|          20|          24|         71|         22|     1007.7|     1007.1|       8|    null|   16.9|   21.8|       No|          No|
|2008-12-02|  Albury|    7.4|   25.1|     0.0|       null|    null|        WNW|           44|       NNW|       WSW|           4|          22|         44|         25|     1010.6|     1007.8|    null|    null|   17.2|   24.3|       No|          No|
|2008-12-03|  Albury|   12.9|   25.7|     0.0|       null|    null|        WSW|           46|         W|       WSW|          19|          26|         38|         30|     1007.6|     1008.7|    null|       2|   21.0|   23.2|       No|          No|
|2008-12-04|  Albury|    9.2|   28.0|     0.0|       null|    null|         NE|           24|        SE|         E|          11|           9|         45|         16|     1017.6|     1012.8|    null|    null|   18.1|   26.5|       No|          No|
|2008-12-05|  Albury|   17.5|   32.3|     1.0|       null|    null|          W|           41|       ENE|        NW|           7|          20|         82|         33|     1010.8|     1006.0|       7|       8|   17.8|   29.7|       No|          No|
|2008-12-06|  Albury|   14.6|   29.7|     0.2|       null|    null|        WNW|           56|         W|         W|          19|          24|         55|         23|     1009.2|     1005.4|    null|    null|   20.6|   28.9|       No|          No|
|2008-12-07|  Albury|   14.3|   25.0|     0.0|       null|    null|          W|           50|        SW|         W|          20|          24|         49|         19|     1009.6|     1008.2|       1|    null|   18.1|   24.6|       No|          No|
|2008-12-08|  Albury|    7.7|   26.7|     0.0|       null|    null|          W|           35|       SSE|         W|           6|          17|         48|         19|     1013.4|     1010.1|    null|    null|   16.3|   25.5|       No|          No|
|2008-12-09|  Albury|    9.7|   31.9|     0.0|       null|    null|        NNW|           80|        SE|        NW|           7|          28|         42|          9|     1008.9|     1003.6|    null|    null|   18.3|   30.2|       No|         Yes|
|2008-12-10|  Albury|   13.1|   30.1|     1.4|       null|    null|          W|           28|         S|       SSE|          15|          11|         58|         27|     1007.0|     1005.7|    null|    null|   20.1|   28.2|      Yes|          No|
|2008-12-11|  Albury|   13.4|   30.4|     0.0|       null|    null|          N|           30|       SSE|       ESE|          17|           6|         48|         22|     1011.8|     1008.7|    null|    null|   20.4|   28.8|       No|         Yes|
|2008-12-12|  Albury|   15.9|   21.7|     2.2|       null|    null|        NNE|           31|        NE|       ENE|          15|          13|         89|         91|     1010.5|     1004.2|       8|       8|   15.9|   17.0|      Yes|         Yes|
|2008-12-13|  Albury|   15.9|   18.6|    15.6|       null|    null|          W|           61|       NNW|       NNW|          28|          28|         76|         93|      994.3|      993.0|       8|       8|   17.4|   15.8|      Yes|         Yes|
|2008-12-14|  Albury|   12.6|   21.0|     3.6|       null|    null|         SW|           44|         W|       SSW|          24|          20|         65|         43|     1001.2|     1001.8|    null|       7|   15.8|   19.8|      Yes|          No|
|2008-12-15|  Albury|    8.4|   24.6|     0.0|       null|    null|         NA|         null|         S|       WNW|           4|          30|         57|         32|     1009.7|     1008.7|    null|    null|   15.9|   23.5|       No|          NA|
|2008-12-16|  Albury|    9.8|   27.7|    null|       null|    null|        WNW|           50|        NA|       WNW|        null|          22|         50|         28|     1013.4|     1010.3|       0|    null|   17.3|   26.2|       NA|          No|
|2008-12-17|  Albury|   14.1|   20.9|     0.0|       null|    null|        ENE|           22|       SSW|         E|          11|           9|         69|         82|     1012.2|     1010.4|       8|       1|   17.2|   18.1|       No|         Yes|
|2008-12-18|  Albury|   13.5|   22.9|    16.8|       null|    null|          W|           63|         N|       WNW|           6|          20|         80|         65|     1005.8|     1002.2|       8|       1|   18.0|   21.5|      Yes|         Yes|
|2008-12-19|  Albury|   11.2|   22.5|    10.6|       null|    null|        SSE|           43|       WSW|        SW|          24|          17|         47|         32|     1009.4|     1009.7|    null|       2|   15.5|   21.0|      Yes|          No|
|2008-12-20|  Albury|    9.8|   25.6|     0.0|       null|    null|        SSE|           26|        SE|       NNW|          17|           6|         45|         26|     1019.2|     1017.1|    null|    null|   15.8|   23.2|       No|          No|
+----------+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+------------+
only showing top 20 rows

<h1> Transformando

<h2> Trabajando con datos faltantes

In [9]:
for col in df.columns:
    print(col," ",df.filter(df[col].isNull()).count() )

Date   0
Location   0
MinTemp   1485
MaxTemp   1261
Rainfall   3261
Evaporation   62790
Sunshine   69835
WindGustDir   0
WindGustSpeed   10263
WindDir9am   0
WindDir3pm   0
WindSpeed9am   1767
WindSpeed3pm   3062
Humidity9am   2654
Humidity3pm   4507
Pressure9am   15065
Pressure3pm   15028
Cloud9am   55888
Cloud3pm   59358
Temp9am   1767
Temp3pm   3609
RainToday   0
RainTomorrow   0

In [10]:
print(df.count())

145460

<h3> Se eliminan los atributos Evaporation, Sunshine, Cloud9am y Cloud3pm por tener más de 1/3 de sus valores nulos

In [11]:
df =df.drop("Evaporation", "Sunshine", "Cloud9am", "Cloud3pm")

<h3> Los valores faltantes de las otras variables meteorológicas se completarán con la media

In [12]:
df.agg({"MinTemp":"avg",
        "MaxTemp":"avg",
        "Rainfall":"avg",
        "WindGustSpeed":"avg",
        "WindSpeed9am":"avg",   
        "WindSpeed3pm":"avg"}).show()

+------------------+------------------+------------------+------------------+------------------+------------------+
|avg(WindGustSpeed)|     avg(Rainfall)| avg(WindSpeed9am)|      avg(MinTemp)| avg(WindSpeed3pm)|      avg(MaxTemp)|
+------------------+------------------+------------------+------------------+------------------+------------------+
| 40.03523007167319|2.3609181508908756|14.043425914971502|12.194034381779941|18.662656778887342|23.221348273321002|
+------------------+------------------+------------------+------------------+------------------+------------------+

In [13]:
df = df.na.fill(12.2,subset=["MinTemp"])
df = df.na.fill(23.22,subset=["MaxTemp"])
df = df.na.fill(40,subset=["WindGustSpeed"])
df = df.na.fill(2.36,subset=["Rainfall"])
df = df.na.fill(14,subset=["WindSpeed9am"])
df = df.na.fill(19,subset=["WindSpeed3pm"])

In [14]:
df.agg({"Humidity9am":"avg",   
        "Humidity3pm":"avg",   
        "Pressure9am":"avg",  
        "Pressure3pm":"avg",
        "Temp9am":"avg",  
        "Temp3pm":"avg"}).show()

+----------------+------------------+-----------------+------------------+-----------------+------------------+
|avg(Humidity3pm)|  avg(Pressure9am)| avg(Humidity9am)|  avg(Pressure3pm)|     avg(Temp3pm)|      avg(Temp9am)|
+----------------+------------------+-----------------+------------------+-----------------+------------------+
|51.5391158755046|1017.6499397947478|68.88083133761887|1015.2558887915008|21.68339031665222|16.990631418377568|
+----------------+------------------+-----------------+------------------+-----------------+------------------+

In [15]:
df = df.na.fill(1017.7,subset=["Pressure9am"])
df = df.na.fill(1015.3,subset=["Pressure3pm"])
df = df.na.fill(69,subset=["Humidity9am"])
df = df.na.fill(52,subset=["Humidity3pm"])
df = df.na.fill(17.0,subset=["Temp9am"])
df = df.na.fill(21.7,subset=["Temp3pm"])

In [16]:
for col in df.columns:
    print(col," ",df.filter(df[col].isNull()).count() )

Date   0
Location   0
MinTemp   0
MaxTemp   0
Rainfall   0
WindGustDir   0
WindGustSpeed   0
WindDir9am   0
WindDir3pm   0
WindSpeed9am   0
WindSpeed3pm   0
Humidity9am   0
Humidity3pm   0
Pressure9am   0
Pressure3pm   0
Temp9am   0
Temp3pm   0
RainToday   0
RainTomorrow   0

In [17]:
df.groupBy("RainToday","RainTomorrow").count().show()

+---------+------------+-----+
|RainToday|RainTomorrow|count|
+---------+------------+-----+
|       NA|         Yes|  676|
|      Yes|         Yes|14597|
|       No|          No|92728|
|       No|          NA|  987|
|      Yes|          No|16858|
|       NA|          No|  730|
|       NA|          NA| 1855|
|       No|         Yes|16604|
|      Yes|          NA|  425|
+---------+------------+-----+

<h3> Se aprecia que el valor NA no es válido para si llovió o no. Siendo RainTomorrow el valor a predecir y RainToday esencial para esa predicción, se eliminan todas las tuplas en las que uno de estos dos atributos posea ese valor.

In [18]:
df.groupBy("RainToday","RainTomorrow").count().show()

+---------+------------+-----+
|RainToday|RainTomorrow|count|
+---------+------------+-----+
|       NA|         Yes|  676|
|      Yes|         Yes|14597|
|       No|          No|92728|
|       No|          NA|  987|
|      Yes|          No|16858|
|       NA|          No|  730|
|       NA|          NA| 1855|
|       No|         Yes|16604|
|      Yes|          NA|  425|
+---------+------------+-----+

In [19]:
df = df.filter(df.RainToday != "NA")
df = df.filter(df.RainTomorrow != "NA")

In [20]:
df.groupBy("RainToday","RainTomorrow").count().show()

+---------+------------+-----+
|RainToday|RainTomorrow|count|
+---------+------------+-----+
|      Yes|         Yes|14597|
|       No|          No|92728|
|      Yes|          No|16858|
|       No|         Yes|16604|
+---------+------------+-----+

In [21]:
df.count()

140787

<h3> Veamos las estadísticas

In [22]:
num_cols = [col[0] for col in df.dtypes if col[1]=="int" or col[1]=="float"]
print(num_cols)

['MinTemp', 'MaxTemp', 'Rainfall', 'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Temp9am', 'Temp3pm']

In [23]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.stat import Summarizer

summarizer = Summarizer.metrics("mean","std")

vecAssembler = VectorAssembler(outputCol="features")

vecAssembler.setInputCols(num_cols)
vector_df = vecAssembler.transform(df)
vector_df.features

Column<'features'>

In [24]:
print(num_cols)

print(vector_df.select(Summarizer.mean(vector_df.features)).collect())

vector_df.select(Summarizer.std(vector_df.features)).collect()

['MinTemp', 'MaxTemp', 'Rainfall', 'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Temp9am', 'Temp3pm']
[Row(mean(features)=DenseVector([12.1849, 23.2351, 2.35, 39.9724, 13.9906, 18.6378, 68.8287, 51.463, 1017.659, 1015.2621, 16.9871, 21.6933]))]

[Row(std(features)=DenseVector([6.3932, 7.1067, 8.4652, 13.1318, 8.8529, 8.7188, 18.9607, 20.5471, 6.7492, 6.6825, 6.4809, 6.8728]))]

<h3> Veamos la correlación

In [25]:
from pyspark.ml.stat import Correlation

# compute r1 0 Pearson correlation
r1 = Correlation.corr(vector_df, "features").head()
print("Pearson correlation matrix:\n" + str(r1[0])+ "\n")

Pearson correlation matrix:
DenseMatrix([[ 1.        ,  0.73444283,  0.10375978,  0.17410708,  0.17492971,
               0.17438453, -0.23287998,  0.00577637, -0.42521122, -0.4351291 ,
               0.89893955,  0.70021913],
             [ 0.73444283,  1.        , -0.07460166,  0.06713946,  0.01440618,
               0.0506871 , -0.50143741, -0.50055238, -0.30939075, -0.39802387,
               0.8817381 ,  0.97034128],
             [ 0.10375978, -0.07460166,  1.        ,  0.1279515 ,  0.08638767,
               0.05710754,  0.22216978,  0.25072481, -0.16039851, -0.1209499 ,
               0.01142786, -0.07791177],
             [ 0.17410708,  0.06713946,  0.1279515 ,  1.        ,  0.57815673,
               0.65899914, -0.20913422, -0.02575603, -0.42686455, -0.38490115,
               0.14724441,  0.03280452],
             [ 0.17492971,  0.01440618,  0.08638767,  0.57815673,  1.        ,
               0.51333483, -0.26884865, -0.03116889, -0.21503559, -0.16489759,
               0.12862388,  0.00479995],
             [ 0.17438453,  0.0506871 ,  0.05710754,  0.65899914,  0.51333483,
               1.        , -0.14425896,  0.01584082, -0.27753247, -0.23996397,
               0.1626266 ,  0.02871189],
             [-0.23287998, -0.50143741,  0.22216978, -0.20913422, -0.26884865,
              -0.14425896,  1.        ,  0.66100442,  0.13121118,  0.1759827 ,
              -0.47163616, -0.49380985],
             [ 0.00577637, -0.50055238,  0.25072481, -0.02575603, -0.03116889,
               0.01584082,  0.66100442,  1.        , -0.02642216,  0.04800364,
              -0.2183047 , -0.55634896],
             [-0.42521122, -0.30939075, -0.16039851, -0.42686455, -0.21503559,
              -0.27753247,  0.13121118, -0.02642216,  1.        ,  0.96005088,
              -0.39797285, -0.26645945],
             [-0.4351291 , -0.39802387, -0.1209499 , -0.38490115, -0.16489759,
              -0.23996397,  0.1759827 ,  0.04800364,  0.96005088,  1.        ,
              -0.44258197, -0.36171485],
             [ 0.89893955,  0.8817381 ,  0.01142786,  0.14724441,  0.12862388,
               0.1626266 , -0.47163616, -0.2183047 , -0.39797285, -0.44258197,
               1.        ,  0.84801757],
             [ 0.70021913,  0.97034128, -0.07791177,  0.03280452,  0.00479995,
               0.02871189, -0.49380985, -0.55634896, -0.26645945, -0.36171485,
               0.84801757,  1.        ]])

In [26]:
import numpy as np

In [27]:

for i in range(0,len(num_cols)):
    for j in range(0,len(num_cols)):
        print(np.round(r1[0][i,j],2), end="\t")
    print()

1.0	0.73	0.1	0.17	0.17	0.17	-0.23	0.01	-0.43	-0.44	0.9	0.7
0.73	1.0	-0.07	0.07	0.01	0.05	-0.5	-0.5	-0.31	-0.4	0.88	0.97
0.1	-0.07	1.0	0.13	0.09	0.06	0.22	0.25	-0.16	-0.12	0.01	-0.08
0.17	0.07	0.13	1.0	0.58	0.66	-0.21	-0.03	-0.43	-0.38	0.15	0.03
0.17	0.01	0.09	0.58	1.0	0.51	-0.27	-0.03	-0.22	-0.16	0.13	0.0
0.17	0.05	0.06	0.66	0.51	1.0	-0.14	0.02	-0.28	-0.24	0.16	0.03
-0.23	-0.5	0.22	-0.21	-0.27	-0.14	1.0	0.66	0.13	0.18	-0.47	-0.49
0.01	-0.5	0.25	-0.03	-0.03	0.02	0.66	1.0	-0.03	0.05	-0.22	-0.56
-0.43	-0.31	-0.16	-0.43	-0.22	-0.28	0.13	-0.03	1.0	0.96	-0.4	-0.27
-0.44	-0.4	-0.12	-0.38	-0.16	-0.24	0.18	0.05	0.96	1.0	-0.44	-0.36
0.9	0.88	0.01	0.15	0.13	0.16	-0.47	-0.22	-0.4	-0.44	1.0	0.85
0.7	0.97	-0.08	0.03	0.0	0.03	-0.49	-0.56	-0.27	-0.36	0.85	1.0

<h3> Se puede apreciar una alta correlacion entre las temperaturas a las 9am y a las 3pm con las Temperaturas Maxima y Minima. Por lo tanto excluiremos también estos rasgos<\h3>
<h3> También se aprecia que los dos valores de presión se encuentran altamente correlacionados. (Se resuelve luego)

In [54]:
df = df.drop('Temp9am', 'Temp3pm')

<h1> Featuring Engineering

<h2>Cambios</h2>
<h3><ul>
<li>La fecha la transformaremos a día del año int[1-365] para que se tenga en cuenta no solo la cercanía de fechas del mismo año, sino también de fechas que coinciden en época aunque en años distintos y se elimina el atributo fecha</li>
<li>Se busca la presión media y una vez hecho se eliminan las dos columnas existentes</li>
<li>RainToday y RainTomorrow se transforman a 0(no llueve) 1(si llueve)</li>
<li>Solo se deja los valores de vientos general, se eliminan los de horarios</li>
</ul>

<h3> Transformando la fecha

In [29]:
def getDay(row):
    rowDict=row.asDict()
    newDate = int(rowDict.get("Date").strftime("%j"))
    rowDict["DayYear"] = newDate
    return rowDict

In [30]:
temp = df.rdd.map(getDay)

In [31]:
from pyspark.sql.types import IntegerType
inputSchema = df.schema
newSchema = inputSchema.add("DayYear",IntegerType())

In [32]:
df = spark.createDataFrame(temp,newSchema)

In [33]:
df = df.drop("Date")
df.show(5)

+--------+-------+-------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+-------+-------+---------+------------+-------+
|Location|MinTemp|MaxTemp|Rainfall|WindGustDir|WindGustSpeed|WindDir9am|WindDir3pm|WindSpeed9am|WindSpeed3pm|Humidity9am|Humidity3pm|Pressure9am|Pressure3pm|Temp9am|Temp3pm|RainToday|RainTomorrow|DayYear|
+--------+-------+-------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+-------+-------+---------+------------+-------+
|  Albury|   13.4|   22.9|     0.6|          W|           44|         W|       WNW|          20|          24|         71|         22|     1007.7|     1007.1|   16.9|   21.8|       No|          No|    336|
|  Albury|    7.4|   25.1|     0.0|        WNW|           44|       NNW|       WSW|           4|          22|         44|         25|     1010.6|     1007.8|   17.2|   24.3|       No|          No|    337|
|  Albury|   12.9|   25.7|     0.0|        WSW|           46|         W|       WSW|          19|          26|         38|         30|     1007.6|     1008.7|   21.0|   23.2|       No|          No|    338|
|  Albury|    9.2|   28.0|     0.0|         NE|           24|        SE|         E|          11|           9|         45|         16|     1017.6|     1012.8|   18.1|   26.5|       No|          No|    339|
|  Albury|   17.5|   32.3|     1.0|          W|           41|       ENE|        NW|           7|          20|         82|         33|     1010.8|     1006.0|   17.8|   29.7|       No|          No|    340|
+--------+-------+-------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+-------+-------+---------+------------+-------+
only showing top 5 rows

In [46]:
def genPressMed(row):
    rowDict=row.asDict()
    pMed = (rowDict.get("Pressure3pm")+rowDict.get("Pressure9am"))/2.0
    rowDict["MedPressure"] = pMed
    return rowDict

In [47]:
temp = df.rdd.map(genPressMed)

In [48]:
from pyspark.sql.types import FloatType
inputSchema = df.schema
newSchema = inputSchema.add("MedPressure",FloatType())

In [49]:
df = spark.createDataFrame(temp,newSchema)

In [50]:
df.show()

+--------+-------+-------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+-------+-------+---------+------------+-------+-----------+
|Location|MinTemp|MaxTemp|Rainfall|WindGustDir|WindGustSpeed|WindDir9am|WindDir3pm|WindSpeed9am|WindSpeed3pm|Humidity9am|Humidity3pm|Pressure9am|Pressure3pm|Temp9am|Temp3pm|RainToday|RainTomorrow|DayYear|MedPressure|
+--------+-------+-------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+-------+-------+---------+------------+-------+-----------+
|  Albury|   13.4|   22.9|     0.6|          W|           44|         W|       WNW|          20|          24|         71|         22|     1007.7|     1007.1|   16.9|   21.8|       No|          No|    336|     1007.4|
|  Albury|    7.4|   25.1|     0.0|        WNW|           44|       NNW|       WSW|           4|          22|         44|         25|     1010.6|     1007.8|   17.2|   24.3|       No|          No|    337| 1009.19995|
|  Albury|   12.9|   25.7|     0.0|        WSW|           46|         W|       WSW|          19|          26|         38|         30|     1007.6|     1008.7|   21.0|   23.2|       No|          No|    338|    1008.15|
|  Albury|    9.2|   28.0|     0.0|         NE|           24|        SE|         E|          11|           9|         45|         16|     1017.6|     1012.8|   18.1|   26.5|       No|          No|    339| 1015.19995|
|  Albury|   17.5|   32.3|     1.0|          W|           41|       ENE|        NW|           7|          20|         82|         33|     1010.8|     1006.0|   17.8|   29.7|       No|          No|    340|     1008.4|
|  Albury|   14.6|   29.7|     0.2|        WNW|           56|         W|         W|          19|          24|         55|         23|     1009.2|     1005.4|   20.6|   28.9|       No|          No|    341| 1007.30005|
|  Albury|   14.3|   25.0|     0.0|          W|           50|        SW|         W|          20|          24|         49|         19|     1009.6|     1008.2|   18.1|   24.6|       No|          No|    342|     1008.9|
|  Albury|    7.7|   26.7|     0.0|          W|           35|       SSE|         W|           6|          17|         48|         19|     1013.4|     1010.1|   16.3|   25.5|       No|          No|    343|    1011.75|
|  Albury|    9.7|   31.9|     0.0|        NNW|           80|        SE|        NW|           7|          28|         42|          9|     1008.9|     1003.6|   18.3|   30.2|       No|         Yes|    344|    1006.25|
|  Albury|   13.1|   30.1|     1.4|          W|           28|         S|       SSE|          15|          11|         58|         27|     1007.0|     1005.7|   20.1|   28.2|      Yes|          No|    345|    1006.35|
|  Albury|   13.4|   30.4|     0.0|          N|           30|       SSE|       ESE|          17|           6|         48|         22|     1011.8|     1008.7|   20.4|   28.8|       No|         Yes|    346|    1010.25|
|  Albury|   15.9|   21.7|     2.2|        NNE|           31|        NE|       ENE|          15|          13|         89|         91|     1010.5|     1004.2|   15.9|   17.0|      Yes|         Yes|    347|    1007.35|
|  Albury|   15.9|   18.6|    15.6|          W|           61|       NNW|       NNW|          28|          28|         76|         93|      994.3|      993.0|   17.4|   15.8|      Yes|         Yes|    348|     993.65|
|  Albury|   12.6|   21.0|     3.6|         SW|           44|         W|       SSW|          24|          20|         65|         43|     1001.2|     1001.8|   15.8|   19.8|      Yes|          No|    349|     1001.5|
|  Albury|   14.1|   20.9|     0.0|        ENE|           22|       SSW|         E|          11|           9|         69|         82|     1012.2|     1010.4|   17.2|   18.1|       No|         Yes|    352| 1011.30005|
|  Albury|   13.5|   22.9|    16.8|          W|           63|         N|       WNW|           6|          20|         80|         65|     1005.8|     1002.2|   18.0|   21.5|      Yes|         Yes|    353|     1004.0|
|  Albury|   11.2|   22.5|    10.6|        SSE|           43|       WSW|        SW|          24|          17|         47|         32|     1009.4|     1009.7|   15.5|   21.0|      Yes|          No|    354| 1009.55005|
|  Albury|    9.8|   25.6|     0.0|        SSE|           26|        SE|       NNW|          17|           6|         45|         26|     1019.2|     1017.1|   15.8|   23.2|       No|          No|    355|    1018.15|
|  Albury|   11.5|   29.3|     0.0|          S|           24|        SE|        SE|           9|           9|         56|         28|     1019.3|     1014.8|   19.1|   27.3|       No|          No|    356|    1017.05|
|  Albury|   17.1|   33.0|     0.0|         NE|           43|        NE|         N|          17|          22|         38|         28|     1013.6|     1008.1|   24.5|   31.6|       No|          No|    357|    1010.85|
+--------+-------+-------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+-------+-------+---------+------------+-------+-----------+
only showing top 20 rows

In [51]:
df = df.drop("Pressure3pm","Pressure9am")

In [55]:
df.show()

+--------+-------+-------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+---------+------------+-------+-----------+
|Location|MinTemp|MaxTemp|Rainfall|WindGustDir|WindGustSpeed|WindDir9am|WindDir3pm|WindSpeed9am|WindSpeed3pm|Humidity9am|Humidity3pm|RainToday|RainTomorrow|DayYear|MedPressure|
+--------+-------+-------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+---------+------------+-------+-----------+
|  Albury|   13.4|   22.9|     0.6|          W|           44|         W|       WNW|          20|          24|         71|         22|       No|          No|    336|     1007.4|
|  Albury|    7.4|   25.1|     0.0|        WNW|           44|       NNW|       WSW|           4|          22|         44|         25|       No|          No|    337| 1009.19995|
|  Albury|   12.9|   25.7|     0.0|        WSW|           46|         W|       WSW|          19|          26|         38|         30|       No|          No|    338|    1008.15|
|  Albury|    9.2|   28.0|     0.0|         NE|           24|        SE|         E|          11|           9|         45|         16|       No|          No|    339| 1015.19995|
|  Albury|   17.5|   32.3|     1.0|          W|           41|       ENE|        NW|           7|          20|         82|         33|       No|          No|    340|     1008.4|
|  Albury|   14.6|   29.7|     0.2|        WNW|           56|         W|         W|          19|          24|         55|         23|       No|          No|    341| 1007.30005|
|  Albury|   14.3|   25.0|     0.0|          W|           50|        SW|         W|          20|          24|         49|         19|       No|          No|    342|     1008.9|
|  Albury|    7.7|   26.7|     0.0|          W|           35|       SSE|         W|           6|          17|         48|         19|       No|          No|    343|    1011.75|
|  Albury|    9.7|   31.9|     0.0|        NNW|           80|        SE|        NW|           7|          28|         42|          9|       No|         Yes|    344|    1006.25|
|  Albury|   13.1|   30.1|     1.4|          W|           28|         S|       SSE|          15|          11|         58|         27|      Yes|          No|    345|    1006.35|
|  Albury|   13.4|   30.4|     0.0|          N|           30|       SSE|       ESE|          17|           6|         48|         22|       No|         Yes|    346|    1010.25|
|  Albury|   15.9|   21.7|     2.2|        NNE|           31|        NE|       ENE|          15|          13|         89|         91|      Yes|         Yes|    347|    1007.35|
|  Albury|   15.9|   18.6|    15.6|          W|           61|       NNW|       NNW|          28|          28|         76|         93|      Yes|         Yes|    348|     993.65|
|  Albury|   12.6|   21.0|     3.6|         SW|           44|         W|       SSW|          24|          20|         65|         43|      Yes|          No|    349|     1001.5|
|  Albury|   14.1|   20.9|     0.0|        ENE|           22|       SSW|         E|          11|           9|         69|         82|       No|         Yes|    352| 1011.30005|
|  Albury|   13.5|   22.9|    16.8|          W|           63|         N|       WNW|           6|          20|         80|         65|      Yes|         Yes|    353|     1004.0|
|  Albury|   11.2|   22.5|    10.6|        SSE|           43|       WSW|        SW|          24|          17|         47|         32|      Yes|          No|    354| 1009.55005|
|  Albury|    9.8|   25.6|     0.0|        SSE|           26|        SE|       NNW|          17|           6|         45|         26|       No|          No|    355|    1018.15|
|  Albury|   11.5|   29.3|     0.0|          S|           24|        SE|        SE|           9|           9|         56|         28|       No|          No|    356|    1017.05|
|  Albury|   17.1|   33.0|     0.0|         NE|           43|        NE|         N|          17|          22|         38|         28|       No|          No|    357|    1010.85|
+--------+-------+-------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+---------+------------+-------+-----------+
only showing top 20 rows

In [57]:
def llevar01(row):
    rowDict=row.asDict()
    RainTodayBin = 0
    if(rowDict.get("RainToday")=="No"):
        RainTodayBin = 0
    else:
        RainTodayBin = 1
    
    RainTomorrowBin = 0
    if(rowDict.get("RainToday")=="No"):
        RainTomorrowBin = 0
    else:
        RainTomorrowBin = 1
    rowDict["RainTomorrowBin"] = RainTomorrowBin
    rowDict["RainTodayBin"] = RainTodayBin
    return rowDict

In [58]:
temp = df.rdd.map(llevar01)

In [59]:
inputSchema = df.schema
newSchema = inputSchema.add("RainTodayBin",IntegerType()).add("RainTomorrowBin",IntegerType())

In [60]:
df = spark.createDataFrame(temp,newSchema)
df.show()

+--------+-------+-------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+---------+------------+-------+-----------+------------+---------------+
|Location|MinTemp|MaxTemp|Rainfall|WindGustDir|WindGustSpeed|WindDir9am|WindDir3pm|WindSpeed9am|WindSpeed3pm|Humidity9am|Humidity3pm|RainToday|RainTomorrow|DayYear|MedPressure|RainTodayBin|RainTomorrowBin|
+--------+-------+-------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+---------+------------+-------+-----------+------------+---------------+
|  Albury|   13.4|   22.9|     0.6|          W|           44|         W|       WNW|          20|          24|         71|         22|       No|          No|    336|     1007.4|           0|              0|
|  Albury|    7.4|   25.1|     0.0|        WNW|           44|       NNW|       WSW|           4|          22|         44|         25|       No|          No|    337| 1009.19995|           0|              0|
|  Albury|   12.9|   25.7|     0.0|        WSW|           46|         W|       WSW|          19|          26|         38|         30|       No|          No|    338|    1008.15|           0|              0|
|  Albury|    9.2|   28.0|     0.0|         NE|           24|        SE|         E|          11|           9|         45|         16|       No|          No|    339| 1015.19995|           0|              0|
|  Albury|   17.5|   32.3|     1.0|          W|           41|       ENE|        NW|           7|          20|         82|         33|       No|          No|    340|     1008.4|           0|              0|
|  Albury|   14.6|   29.7|     0.2|        WNW|           56|         W|         W|          19|          24|         55|         23|       No|          No|    341| 1007.30005|           0|              0|
|  Albury|   14.3|   25.0|     0.0|          W|           50|        SW|         W|          20|          24|         49|         19|       No|          No|    342|     1008.9|           0|              0|
|  Albury|    7.7|   26.7|     0.0|          W|           35|       SSE|         W|           6|          17|         48|         19|       No|          No|    343|    1011.75|           0|              0|
|  Albury|    9.7|   31.9|     0.0|        NNW|           80|        SE|        NW|           7|          28|         42|          9|       No|         Yes|    344|    1006.25|           0|              0|
|  Albury|   13.1|   30.1|     1.4|          W|           28|         S|       SSE|          15|          11|         58|         27|      Yes|          No|    345|    1006.35|           1|              1|
|  Albury|   13.4|   30.4|     0.0|          N|           30|       SSE|       ESE|          17|           6|         48|         22|       No|         Yes|    346|    1010.25|           0|              0|
|  Albury|   15.9|   21.7|     2.2|        NNE|           31|        NE|       ENE|          15|          13|         89|         91|      Yes|         Yes|    347|    1007.35|           1|              1|
|  Albury|   15.9|   18.6|    15.6|          W|           61|       NNW|       NNW|          28|          28|         76|         93|      Yes|         Yes|    348|     993.65|           1|              1|
|  Albury|   12.6|   21.0|     3.6|         SW|           44|         W|       SSW|          24|          20|         65|         43|      Yes|          No|    349|     1001.5|           1|              1|
|  Albury|   14.1|   20.9|     0.0|        ENE|           22|       SSW|         E|          11|           9|         69|         82|       No|         Yes|    352| 1011.30005|           0|              0|
|  Albury|   13.5|   22.9|    16.8|          W|           63|         N|       WNW|           6|          20|         80|         65|      Yes|         Yes|    353|     1004.0|           1|              1|
|  Albury|   11.2|   22.5|    10.6|        SSE|           43|       WSW|        SW|          24|          17|         47|         32|      Yes|          No|    354| 1009.55005|           1|              1|
|  Albury|    9.8|   25.6|     0.0|        SSE|           26|        SE|       NNW|          17|           6|         45|         26|       No|          No|    355|    1018.15|           0|              0|
|  Albury|   11.5|   29.3|     0.0|          S|           24|        SE|        SE|           9|           9|         56|         28|       No|          No|    356|    1017.05|           0|              0|
|  Albury|   17.1|   33.0|     0.0|         NE|           43|        NE|         N|          17|          22|         38|         28|       No|          No|    357|    1010.85|           0|              0|
+--------+-------+-------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+---------+------------+-------+-----------+------------+---------------+
only showing top 20 rows

In [70]:
df = df.drop("RainToday","RainTomorrow")

In [69]:
type(df.groupBy("Location").count())

pyspark.sql.dataframe.DataFrame

In [72]:
df = df.drop("WindDir9am", "WindDir3pm","WindSpeed9am","WindSpeed3pm")
df.show(5)

+--------+-------+-------+--------+-----------+-------------+-----------+-----------+-------+-----------+------------+---------------+
|Location|MinTemp|MaxTemp|Rainfall|WindGustDir|WindGustSpeed|Humidity9am|Humidity3pm|DayYear|MedPressure|RainTodayBin|RainTomorrowBin|
+--------+-------+-------+--------+-----------+-------------+-----------+-----------+-------+-----------+------------+---------------+
|  Albury|   13.4|   22.9|     0.6|          W|           44|         71|         22|    336|     1007.4|           0|              0|
|  Albury|    7.4|   25.1|     0.0|        WNW|           44|         44|         25|    337| 1009.19995|           0|              0|
|  Albury|   12.9|   25.7|     0.0|        WSW|           46|         38|         30|    338|    1008.15|           0|              0|
|  Albury|    9.2|   28.0|     0.0|         NE|           24|         45|         16|    339| 1015.19995|           0|              0|
|  Albury|   17.5|   32.3|     1.0|          W|           41|         82|         33|    340|     1008.4|           0|              0|
+--------+-------+-------+--------+-----------+-------------+-----------+-----------+-------+-----------+------------+---------------+
only showing top 5 rows

In [74]:
#df.write.csv('/content/drive/MyDrive/weatherLimpio.csv',header=True)

In [75]:
df

DataFrame[Location: string, MinTemp: float, MaxTemp: float, Rainfall: float, WindGustDir: string, WindGustSpeed: int, Humidity9am: int, Humidity3pm: int, DayYear: int, MedPressure: float, RainTodayBin: int, RainTomorrowBin: int]